#helloPanel {
    border: 1px rgb(189, 119, 119) dashed;
}

.protyle-container > .protyle > .protyle-content {
    padding-top: 0px;
}

.plugin-sample {
    &__custom-tab {
        background-color: var(--b3-theme-background);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__custom-dock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__time {
        background: var(--b3-card-info-background);
        border-radius: 4px;
        padding: 2px 8px;
    }
}

  // .grid-item:not(.grid-item:has( .protyle .protyle-hint.fn__none)) {
  //   z-index: 2 !important;
  // }

  // .grid-item:not(.grid-item:has( .protyle .protyle-toolbar.fn__none)) {
  //   z-index: 2 !important;
  // }

  // .grid-item:not(.grid-item:has( .protyle .protyle-util.fn__none)) {
  //   z-index: 2 !important;
  // }

  // .grid-item.is-dragging,
  // .grid-item.is-positioning-post-drag {
  //   background-color: var(--b3-theme-secondary) !important;
  //   z-index: 3 !important; /* keep dragged item on top */
  // }

  // .packery-drop-placeholder{
  //   outline: 3px dashed #444;
  //   outline-offset: -6px;
  //   /* transition position changing */
  //   -webkit-transition: -webkit-transform 0.2s;
  //           transition: transform 0.2s;
  // }