#helloPanel {
    border: 1px rgb(189, 119, 119) dashed;
}

.protyle-container > .protyle > .protyle-content {
    padding-top: 0px;
}

.plugin-sample {
    &__custom-tab {
        background-color: var(--b3-theme-background);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__custom-dock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__time {
        background: var(--b3-card-info-background);
        border-radius: 4px;
        padding: 2px 8px;
    }
}

.layout__center .layout-tab-container .layout-container {
  .left-panel .organize-grid-container {
    .grid-item {
      position: relative;
      border: dashed 1px white;
      border-bottom: dashed 1px gray;
      overflow: hidden;

      .grid-item-title {
        display: none;
      }

      &__move-handler {
        position: absolute;
        left: 5px;
        z-index: 1;
        cursor: move;
      }
    }
  }
  .right-panel .card-grid {
    .grid-item {
      position: relative;
      margin: 10px auto;
      border: solid 0.2em white;
      border-radius: 10px;
      box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
    
      .grid-item-title {
        position: absolute;
        left: 5px;
        z-index: 1;
      }

      &__move-handler {
        display: none;
      }
    
      .protyle-container {
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }

  .grid-item:not(.grid-item:has(.protyle .protyle-hint[class*="fn__none"])) {
    z-index: 2;
  }
}

.grid-item.gu-mirror {
  .grid-item-title {
    display: none;
  }
  
  .grid-item__move-handler {
    display: none;
  }
}